# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

#Etc
00testBugs/
output.txt
application.py
diags/
Input/latticeConfigurationCard/lattice/
Backtrace.0.0
Analyze/simulation.py
Analyze/simulationtest.py